@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-slate-100 to-white dark:from-slate-950 dark:to-slate-900 text-slate-900 dark:text-slate-100 min-h-screen;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
